*{
    margin: 0;
}

.page{
    margin: 3vw;
}

header{
    height: 10vh;
    display: flex;
    margin-bottom: 3vw;
    *{
        display: flex;
    }

    .head-bck{
        flex-grow: 1;
        
        align-self: flex-start;

        img{
            margin: auto 0;
            width: auto;
            height: 1.5em;
        }
        h2{
            line-height: 0.8em;
            margin: auto 0 auto 1vw;
            font-size: 2em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .head-txt{
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;

        h1{
            font-size: 4em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
    }
}

.sec-main{
    display: flex;
    flex-direction: row;
    
    *{
        display: flex;
    }

    .sec-left{
        overflow: hidden;
        padding-right: 1vw;
        flex: 1;
        height:auto;

        flex-direction: column;

        .prj-info{
            flex-direction: row;
            width: 100%;

            h2{
                flex-grow: 1;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.5em;
                font-weight: bold;
            
               
            }
            h2:nth-child(2){
                justify-content: flex-end;
            }

           
        }

        .prj-tag{
            
            .tag{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                background-color: black;
                border: 1px solid black;
                border-radius: 3px;
                margin-right: 0.5vw;
                padding: 0.3vh;
                cursor: pointer;
            }
        }

        .prj-desc{
            margin-top: 3vh;
            flex-direction: column;

            .prj-article{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                flex-direction: inherit;
                margin-bottom: 3vh;

                h2{
                    font-size: 1.3em;
                }
            }
            

        }
    }

    .sec-right{
        flex-direction: column;
        padding-left: 1vw; 
        height: auto ;
        flex: 1;        
        overflow: hidden;

        .img-gallery{

            justify-content: left;
            flex-wrap: wrap;

            img{
                padding: 0 0.5vw 0.5vw 0;
                width: auto;
               height: 20vh;
            }

        }

        iframe{
            margin: 4vh 0;
            width: auto;
            height: 20vh;
        }

       
       
    }

   
}
.sim-prj{

    *{
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    
    h2{
        font-size: 1.5em;
        margin: 2vh 0;
    }

    .sim-wrapper{

        justify-content: space-between;
        flex-direction: row;
        flex: 1 1 1;

        div{

            flex-direction: column;

            img{
                width: 30vw;
                height: auto;
                margin-bottom: 3vh;
            }

            h3{
                font-size: 1.3em;
            }

            div{
                width: 100%;
                flex-direction: row;

                p{
                    font-size: 1.2em;
                    flex: 1;
                }

                span{
                    flex:1;
                    justify-content:  flex-end;
                    font-weight: bold;
                    font-size: 1.3em;
                    cursor: pointer;
                }
            }

           

        }

       
        
    }
       
}


@media only screen and (max-width: 760px) {

   
       
    
    header{
        flex-direction: column;
        .head-bck{                
            img{
                width: auto;
                height: 1em;
            }
            h2{
                margin-left: 1vw;
                font-size: 1.2em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    
    
        .head-txt{
            justify-content: center;
            h1{
                font-size: 2em;
            }
        }
    }
    
    .sec-main{
        display: flex;
        flex-direction: column;
        
        *{
            display: flex;
        }
        .sec-right{

            iframe{
                margin: 4vh 0;
                width: auto;
                height: 30vh;
            }
    
        }

        
        .sec-left{
            .prj-info{
               
    
                h2{
            
                    font-size: 1.6em;
                
                   
                }
               
            }
    
            .prj-desc{
                .prj-article{
                    h2{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }    

    .sim-prj{

        h2{
            font-size: 2em;
            margin: 2vh 0;
        }
    
        .sim-wrapper{
    
            justify-content: space-between;
            flex-direction: column;
    
            div{
                flex-direction: column;
                margin-bottom: 2vh;

    
                img{
                    width: 100%;
                    height: auto;
                    margin-bottom: 2vh;
                }
                h3{
                    font-size: 1.5em;
                }
    
    
                div{
                    width: 100%;
                    flex-direction: row;
    
                    p{
                        font-size: 1em;
                        flex: 1;
                    }
    
                    span{
                        flex:1;
                        justify-content:  flex-end;
                        font-weight: bold;
                        font-size: 1.4em;
                        cursor: pointer;
                    }
                }
                div:nth-child(3){
                    width: 100%;
                    flex-direction: row;
                    margin: 0;
                }
            }
        }
    }

    .sec-main{
        .sec-right{
            padding: 0;
            .img-gallery{
                flex-direction: column;
        
                img{
                    width: 100%;
                    height: auto;
                    margin: 0 0 10px 0 ;
                }
        
        }
    }
       .sec-left{
           padding: 0;
       }
    }

    .sim-prj{
        h2{
            font-size: 2em;
        }
    }
    
   
}

