* {
  margin: 0;
}

.page {
  margin: 3vw;
}

header {
  height: 10vh;
  display: flex;
  margin-bottom: 3vw;
}
header * {
  display: flex;
}
header .head-bck {
  flex-grow: 1;
  align-self: flex-start;
}
header .head-bck img {
  margin: auto 0;
  width: auto;
  height: 1.5em;
}
header .head-bck h2 {
  line-height: 0.8em;
  margin: auto 0 auto 1vw;
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header .head-txt {
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
header .head-txt h1 {
  font-size: 4em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sec-main {
  display: flex;
  flex-direction: row;
}
.sec-main * {
  display: flex;
}
.sec-main .sec-left {
  overflow: hidden;
  padding-right: 1vw;
  flex: 1;
  height: auto;
  flex-direction: column;
}
.sec-main .sec-left .prj-info {
  flex-direction: row;
  width: 100%;
}
.sec-main .sec-left .prj-info h2 {
  flex-grow: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.sec-main .sec-left .prj-info h2:nth-child(2) {
  justify-content: flex-end;
}
.sec-main .sec-left .prj-tag .tag {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 0.5vw;
  padding: 0.3vh;
  cursor: pointer;
}
.sec-main .sec-left .prj-desc {
  margin-top: 3vh;
  flex-direction: column;
}
.sec-main .sec-left .prj-desc .prj-article {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: inherit;
  margin-bottom: 3vh;
}
.sec-main .sec-left .prj-desc .prj-article h2 {
  font-size: 1.3em;
}
.sec-main .sec-right {
  flex-direction: column;
  padding-left: 1vw;
  height: auto;
  flex: 1;
  overflow: hidden;
}
.sec-main .sec-right .img-gallery {
  justify-content: left;
  flex-wrap: wrap;
}
.sec-main .sec-right .img-gallery img {
  padding: 0 0.5vw 0.5vw 0;
  width: auto;
  height: 20vh;
}
.sec-main .sec-right iframe {
  margin: 4vh 0;
  width: auto;
  height: 20vh;
}

.sim-prj * {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.sim-prj h2 {
  font-size: 1.5em;
  margin: 2vh 0;
}
.sim-prj .sim-wrapper {
  justify-content: space-between;
  flex-direction: row;
  flex: 1 1 1;
}
.sim-prj .sim-wrapper div {
  flex-direction: column;
}
.sim-prj .sim-wrapper div img {
  width: 30vw;
  height: auto;
  margin-bottom: 3vh;
}
.sim-prj .sim-wrapper div h3 {
  font-size: 1.3em;
}
.sim-prj .sim-wrapper div div {
  width: 100%;
  flex-direction: row;
}
.sim-prj .sim-wrapper div div p {
  font-size: 1.2em;
  flex: 1;
}
.sim-prj .sim-wrapper div div span {
  flex: 1;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  header {
    flex-direction: column;
  }
  header .head-bck img {
    width: auto;
    height: 1em;
  }
  header .head-bck h2 {
    margin-left: 1vw;
    font-size: 1.2em;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  header .head-txt {
    justify-content: center;
  }
  header .head-txt h1 {
    font-size: 2em;
  }

  .sec-main {
    display: flex;
    flex-direction: column;
  }
  .sec-main * {
    display: flex;
  }
  .sec-main .sec-right iframe {
    margin: 4vh 0;
    width: auto;
    height: 30vh;
  }
  .sec-main .sec-left .prj-info h2 {
    font-size: 1.6em;
  }
  .sec-main .sec-left .prj-desc .prj-article h2 {
    font-size: 1.2em;
  }

  .sim-prj h2 {
    font-size: 2em;
    margin: 2vh 0;
  }
  .sim-prj .sim-wrapper {
    justify-content: space-between;
    flex-direction: column;
  }
  .sim-prj .sim-wrapper div {
    flex-direction: column;
    margin-bottom: 2vh;
  }
  .sim-prj .sim-wrapper div img {
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
  }
  .sim-prj .sim-wrapper div h3 {
    font-size: 1.5em;
  }
  .sim-prj .sim-wrapper div div {
    width: 100%;
    flex-direction: row;
  }
  .sim-prj .sim-wrapper div div p {
    font-size: 1em;
    flex: 1;
  }
  .sim-prj .sim-wrapper div div span {
    flex: 1;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
  }
  .sim-prj .sim-wrapper div div:nth-child(3) {
    width: 100%;
    flex-direction: row;
    margin: 0;
  }

  .sec-main .sec-right {
    padding: 0;
  }
  .sec-main .sec-right .img-gallery {
    flex-direction: column;
  }
  .sec-main .sec-right .img-gallery img {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
  }
  .sec-main .sec-left {
    padding: 0;
  }

  .sim-prj h2 {
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
